{
  "presets": [
    "stage-3",
    [
      "env",
      {
        "modules": "amd",
        "targets": {
          "browsers": [
            "last 1 versions"
          ]
        }
      }
    ]
  ]
}
