scratch
.DS_Store
*~
/node_modules
.htaccess
examples/touchevents.html
bevy.json
.idea
js/*
!js/profile-w3c-common.js
!js/profile-geonovum.js
!js/profile-w3c.js
!js/shortcut.js
!js/html-parser.js
!js/html-parser.d.ts
!js/html-template.js
!js/html-template.d.ts
!js/respec-version.js
!js/respec-version.d.ts
.vscode/
