scratch
.DS_Store
*~
/node_modules
.htaccess
examples/touchevents.html
bevy.json
.idea
js/deps/*
!js/deps/highlight.js
js/**/*.map
js/*/linter-rules/
js/core/aria.js
js/core/base-runner.js
js/core/beautify-options.js
js/core/best-practices.js
js/core/biblio-db.js
js/core/biblio.js
js/core/contrib.js
js/core/data-cite.js
js/core/data-include.js
js/core/data-tests.js
js/core/data-transform.js
js/core/default-root-attr.js
js/core/dfn.js
js/core/examples.js
js/core/figures.js
js/core/fix-headers.js
js/core/github.js
js/core/highlight.js
js/core/id-headers.js
js/core/include-config.js
js/core/inlines.js
js/core/issues-notes.js
js/core/jquery-enhanced.js
js/core/l10n.js
js/core/link-to-dfn.js
js/core/linter.js
js/core/LinterRule.js
js/core/location-hash.js
js/core/markdown.js
js/core/override-configuration.js
js/core/post-process.js
js/core/pre-process.js
js/core/pubsubhub.js
js/core/rdfa.js
js/core/remove-respec.js
js/core/requirements.js
js/core/respec-ready.js
js/core/seo.js
js/core/structure.js
js/core/style.js
js/core/ui.js
js/core/utils.js
js/core/webidl-clipboard.js
js/core/webidl-index.js
js/core/webidl.js
js/core/worker.js
js/templates.js
js/ui/about-respec.js
js/ui/dfn-list.js
js/ui/save-html.js
js/ui/search-specref.js
js/w3c/abstract.js
js/w3c/aria.js
js/w3c/conformance.js
js/w3c/defaults.js
js/w3c/headers.js
js/w3c/informative.js
js/w3c/l10n.js
js/w3c/linter.js
js/w3c/permalinks.js
js/w3c/rfc2119.js
js/w3c/seo.js
js/w3c/style.js
