# os: linux
# osx_image: xcode9
language: node_js
sudo: required
dist: trusty
node_js:
  - v7

install:
  - yarn install

addons:
  # firefox: latest-beta
  chrome: stable

cache: yarn

jobs:
  include:
    - stage: Tests
      script: ./tests/test-build.js
      script: yarn run pretest
      script: yarn run test:headless
      script: travis_retry karma start --single-run --reporters mocha karma.conf.js
