language: node_js
sudo: false
node_js:
  - v6.7
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

addons:
  firefox: "latest"

script:
  - npm run pretest
  - npm run test:headless
  - karma start --single-run --reporters mocha karma.conf.js
