language: node_js
dist: trusty
node_js:
  - v8

before_install:
  # see https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
  - "export DISPLAY=:99.0"
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16 -extension RANDR"
  - export PATH="$PATH:$HOME/.rvm/bin"
  - sleep 3

install:
  - yarn install
  - yarn run build

addons:
  firefox: latest
  chrome: stable

cache: yarn

jobs:
  include:
    - stage: Test build
      script: ./tests/test-build.js
    - stage: Test headless
      script:
        - yarn run build
        - yarn run build:respec-w3c-common
        - yarn run test:headless
    - stage: Test karma
      script:
        - yarn run build
        - yarn run build:respec-w3c-common
        - travis_retry karma start --single-run --reporters mocha karma.conf.js
