language: node_js
dist: trusty
node_js:
  - lts/*

install:
  - npm install
  - npm run build
  - npm run build:respec-w3c-common

# use sudo to workaround https://github.com/w3c/respec/issues/1462 
sudo: required

addons:
#  firefox: latest
  chrome: stable

cache:
  directories:
    - node_modules # NPM packages

jobs:
  include:
    - stage: Run eslint
      script:
        - npx eslint src/**/*.js
    - stage: Run headless
      script:
        - npm run test:headless
    - stage: Run Karma unit tests
      script:
        - travis_retry karma start --single-run --reporters mocha karma.conf.js
