.code {
    box-sizing: border-box;
    border-collapse: collapse;
    color: black;
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: lightgrey;
    border-radius: 6px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}