<section id='sotd' class='introductory'><h2>{{l10n.sotd}}</h2>
    <p>
      <em>{{{l10n.status_at_publication}}}</em>
    </p>
	{{#switch specStatus}}
	  {{#case "GEO-OFF"}}
	    <p>Geonovum officiële standaard.<p>
	  {{/case}}
	  {{#case "GEO-ED"}}
	    <p>Dit is een werkversie die op elk moment kan worden gewijzigd, verwijderd of vervangen 
		   door andere documenten. Het is geen door de werkgroep goedgekeurde consultatieversie.<p>
	  {{/case}}
	  {{#case "GEO-WD"}}
	    <p>Dit is een door de werkgroep goedgekeurde consultatieversie. Commentaar over dit 
		   document kan gestuurd worden naar <a href="mailto:geo-standaarden@geonovum.nl">
		   geo-standaarden@geonovum.nl</a>.</p>
	  {{/case}}
	  {{#case "GEO-FD"}}
	    <p>Dit is een definitief concept van de nieuwe versie van de standaard. Wijzigingen naar 
		   aanleiding van consultaties zijn doorgevoerd. De programmaraad van Geonovum beoordeelt 
		   dit definitief concept. Keurt zij het goed, dan is er een nieuwe standaard.</p>
	  {{/case}}
	  {{#default}}
	    <p>Geonovum basis</p>
	  {{/default}}
	{{/switch}}
</section>
