/* container for stats */
.caniuse-stats {
  font-size: 90%;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

/* reset styles */
.caniuse-stats ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.caniuse-stats a[href] {
  display: inline-block;
  margin: 4px 0 0 8px;
  white-space: nowrap;
}

/* wraps each browser into a separate column */
.caniuse-browser {
  text-align: center;
  position: relative;
}

/* a browser version */
.caniuse-cell {
  min-width: 3cm;
  padding: 4px;
  background: #eee; /* default, for unknown support */
  margin: 1px;
  margin-left: 0;
  margin-top: 0;
}

.caniuse-cell:focus {
  outline: none;
}

.caniuse-cell:hover {
  color: rgba(0, 0, 0, 1);
}

/* hide older versions  */
.caniuse-cell ul {
  display: none;
  position: absolute;
  left: 0;
  margin-top: 4px;
  z-index: 2;
  background: #fff;
}

/* supports */
.caniuse-cell.y {
  background: #8bc34a;
}

/* no support */
.caniuse-cell.n {
  background: #e53935;
}

/* not supported by default / partial support etc
see https://github.com/Fyrd/caniuse/blob/master/CONTRIBUTING.md for stats */
.caniuse-cell.d,
.caniuse-cell.a,
.caniuse-cell.x,
.caniuse-cell.p {
  background: #ffc107;
}

.caniuse-cell:focus > ul,
.caniuse-cell:hover > ul {
  /* .active used for testing only. couldn't trigger focus. TODO. */
  display: block;
  padding-top: 1px;
}
