.caniuse {
  margin-bottom: 2rem;
}

.caniuse h3 {
  font-size: 15px;
  margin: 0;
  font-weight: bold;
  color: #000;
}

.caniuse h3 a {
  float: right;
}

.caniuse-stats {
  width: 100%;
  overflow: auto;
  font-family: monospace;
}

.ciu-browser {
  display: inline-block;
  margin-bottom: 1rem;
  text-align: center;
}

.ciu-col {
  position: absolute;
  height: 30px;
  max-height: 200px;
  background: #fff;
  overflow-y: hidden;
  transition: height 0.3s ease-in-out;
}

.ciu-cell {
  width: 70px;
  padding: 3px;
  background: #fff;
  margin: 1px;
  height: 23px;
}

.ciu-browser > .ciu-cell:hover {
  cursor: pointer;
}

.ciu-browser:hover .ciu-col {
  height: 100%;
  z-index: 99;
  overflow-y: auto;
 }

.ciu-cell:hover {
  opacity: 0.9;
}

/* supports */
.ciu-cell.y {
  background: #8bc34a;
}

/* no support */
.ciu-cell.n {
  background: #e53935;
}

/* not supported by default / partial support etc */
.ciu-cell.d, .ciu-cell.a, .ciu-cell.x, .ciu-cell.p {
  background: #ffc107;
}

.ciu-cell ul {
  display: flex;
  position: absolute;
  right: 2px;
  top: -4px;
  padding: 0;
  margin: 0;
}

.ciu-cell li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.caniuse-trigger {
  background: #005A9C;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 5px;
  color: #fff;
  border: 2px solid #044578;
  font-family: monospace;
  cursor: pointer;
}
.caniuse-trigger:hover {
  background: #044578;
}
