/* container for stats */
.caniuse-stats {
  width: 100%;
  font-family: monospace;
}

.caniuse-stats a {
  white-space: nowrap;
}

/* wraps each browser into a separate column */
.caniuse-browser {
  display: inline-block;
  text-align: center;
}

/* container for older browser versions, shown on hover */
.caniuse-col {
  position: absolute;
  height: 0;
  max-height: 140px;
  overflow-y: hidden;
  transition: height 0.3s ease-in-out;
}

/* a browser version */
.caniuse-cell {
  min-width: 100px;
  padding: 4px;
  background: #eee; /* default, for unknown support */
  margin: 1px;
}

.caniuse-browser > .caniuse-cell:hover {
  cursor: pointer;
}

.caniuse-cell:hover {
  font-weight: bold;
}

/* show older browsers on hover */
.caniuse-browser:hover .caniuse-col {
  height: 100%;
  z-index: 99;
  overflow-y: auto;
 }

/* supports */
.caniuse-cell.y {
  background: #8bc34a;
}

/* no support */
.caniuse-cell.n {
  background: #e53935;
}

/* not supported by default / partial support etc
see https://github.com/Fyrd/caniuse/blob/master/CONTRIBUTING.md for stats */
.caniuse-cell.d, .caniuse-cell.a, .caniuse-cell.x, .caniuse-cell.p {
  background: #ffc107;
}
