/*****************************************************************
 * ReSpec 3 CSS
 * Robin Berjon - http://berjon.com/
 *****************************************************************/

/* Override code highlighter background */
.hljs {
    background: transparent !important;
}

/* --- INLINES --- */
em.rfc2119 {
    text-transform:     lowercase;
    font-variant:       small-caps;
    font-style:         normal;
    color:              #900;
}

h1 acronym, h2 acronym, h3 acronym, h4 acronym, h5 acronym, h6 acronym, a acronym,
h1 abbr, h2 abbr, h3 abbr, h4 abbr, h5 abbr, h6 abbr, a abbr {
    border: none;
}

dfn {
    font-weight:    bold;
}

a.internalDFN {
    color:  inherit;
    border-bottom:  1px solid #99c;
    text-decoration:    none;
}

a.externalDFN {
    color:  inherit;
    border-bottom:  1px dotted #ccc;
    text-decoration:    none;
}

a.bibref {
    text-decoration:    none;
}

cite .bibref {
    font-style: normal;
}

code {
    color:  #C83500;
}

th code {
  color: inherit;
}

/* --- TOC --- */
.toc a, .tof a {
    text-decoration:    none;
}

a .secno, a .figno {
    color:  #000;
}

ul.tof, ol.tof {
    list-style: none outside none;
}

.caption {
    margin-top: 0.5em;
    font-style:   italic;
}

/* --- TABLE --- */
table.simple {
    border-spacing: 0;
    border-collapse:    collapse;
    border-bottom:  3px solid #005a9c;
}

.simple th {
    background: #005a9c;
    color:  #fff;
    padding:    3px 5px;
    text-align: left;
}

.simple th[scope="row"] {
    background: inherit;
    color:  inherit;
    border-top: 1px solid #ddd;
}

.simple td {
    padding:    3px 10px;
    border-top: 1px solid #ddd;
}

.simple tr:nth-child(even) {
    background: #f0f6ff;
}

/* --- DL --- */
.section dd > p:first-child {
    margin-top: 0;
}

.section dd > p:last-child {
    margin-bottom: 0;
}

.section dd {
    margin-bottom:  1em;
}

.section dl.attrs dd, .section dl.eldef dd {
    margin-bottom:  0;
}

.respec-hidden {
    display: none;
}

#respec-ui {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    top: 20px;
    right: 20px;
    width: 202px;
    text-align: right;
}

#respec-pill, .respec-info-button {
    background: #fff;
    height: 2.5em;
    color: rgb(120, 120, 120);
    border: 1px solid #ccc;
    box-shadow: 1px 1px 8px 0 rgba(100, 100, 100, .5);
}

.respec-info-button {
    border: none;
    opacity: .5;
    border-radius: 2em;
    margin-right: 1em;
    min-width: 3.5em;
}

.respec-info-button:focus {
    opacity: 1;
    transition: opacity .2s;
}


#respec-pill:disabled{
    font-size: 2.8px;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(40, 40, 40, 0.2);
    border-right: 1.1em solid rgba(40, 40, 40, 0.2);
    border-bottom: 1.1em solid rgba(40, 40, 40, 0.2);
    border-left: 1.1em solid #ffffff;
    transform: translateZ(0);
    animation: respec-spin .5s infinite linear;
    box-shadow: none;
}

#respec-pill:disabled,
#respec-pill:disabled:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@keyframes respec-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#respec-pill:hover, #respec-pill:focus {
    color: rgb(0, 0, 0);
    background-color: rgb(245,245,245);
    transition: color .2s;
}

#respec-menu {
    position: absolute;
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
    box-shadow: 1px 1px 8px 0 rgba(100, 100, 100, .5);
    width: 200px;
    display: none;
    text-align: left;
    margin-top: 32px;
    font-size: .8em;
}

#respec-menu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.respec-save-button {
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: inherit;
}


#respec-ui button:focus, #respec-pill:focus, .respec-option:focus {
    outline:0;
    outline-style: none;
}

#respec-ui button#respec-pill-error {
    background-color: red;
    color: white;
}

#respec-ui button#respec-pill-warning {
    background-color: orange;
    color: white;
}

#respec-menu button.respec-option {
    background: white;
    border: none;
    width: 100%;
    text-align: left;
    font-size: inherit;
    padding: 1.2em 1.2em;
}

#respec-menu button.respec-option:hover, #respec-menu button:focus {
    background-color: #eeeeee;
}

.respec-cmd-icon {
    padding-right: .5em;
}

#respec-ui button.respec-option:last-child {
    border: none;
    border-radius: inherit;
}

.respec-offending-element {
    display: inline-block;
    position:relative;
    background: url(data:image/gif;base64,R0lGODdhBAADAPEAANv///8AAP///wAAACwAAAAABAADAEACBZQjmIAFADs=) bottom repeat-x;
}

@media print {
    .removeOnSave {
        display: none;
    }
}
