var:hover {
  border-bottom: 1px dotted;
  cursor: pointer;
}

var.respec-hl {
  color: #000;
}

var.respec-hl-yellow {
  background: #f6d51f;
}

var.respec-hl-blue {
  background: #84b6eb;
}

var.respec-hl-pink {
  background: #f9a4af;
}

var.respec-hl-green {
  background: #02e10c;
}

var.respec-hl-sky {
  background: #00bfff;
}

var.respec-hl-orange {
  background: #fa8925;
}

@media print {
  var.respec-hl {
    background: none;
    color: #000;
  }
}
