<section id='sotd' class='introductory'><h2>Status of This Document</h2>
  <p>
    This specification was published by the <a href='{{wgURI}}'>{{wg}}</a>.
    It is not a W3C Standard nor is it on the W3C Standards Track.
    {{#if isCGFinal}}
      Please note that under the 
      <a href="https://www.w3.org/community/about/agreements/final/">W3C Community Final Specification Agreement (FSA)</a> 
      other conditions apply.
    {{else}}
      Please note that under the 
      <a href="https://www.w3.org/community/about/agreements/cla/">W3C Community Contributor License Agreement (CLA)</a>
      there is a limited opt-out and other conditions apply.
    {{/if}}
    Learn more about 
    <a href="http://www.w3.org/community/">W3C Community and Business Groups</a>.
  </p>
  {{{sotdCustomParagraph}}}
</section>
