<section id='sotd' class='introductory'><h2>Status of This Document</h2>
  <p>
    This specification was published by the <a href='{{wgURI}}'>{{wg}}</a>.
    It is not a W3C Standard nor is it on the W3C Standards Track.
    {{#if isCGFinal}}
      Please note that under the 
      <a href="https://www.w3.org/community/about/agreements/final/">W3C Community Final Specification Agreement (FSA)</a> 
      other conditions apply.
    {{else}}
      Please note that under the 
      <a href="https://www.w3.org/community/about/agreements/cla/">W3C Community Contributor License Agreement (CLA)</a>
      there is a limited opt-out and other conditions apply.
    {{/if}}
    Learn more about 
    <a href="http://www.w3.org/community/">W3C Community and Business Groups</a>.
  </p>
  {{{sotdCustomParagraph}}}
    {{#if wgPublicList}}
      <p>If you wish to make comments regarding this document, please send them to 
      <a href='mailto:{{wgPublicList}}@w3.org{{#if subjectPrefix}}?subject={{subjectPrefixEnc}}{{/if}}'>{{wgPublicList}}@w3.org</a> 
      (<a href='mailto:{{wgPublicList}}-request@w3.org?subject=subscribe'>subscribe</a>,
      <a
        href='http://lists.w3.org/Archives/Public/{{wgPublicList}}/'>archives</a>){{#if subjectPrefix}}
      with <code>{{subjectPrefix}}</code> at the start of your
      email's subject{{/if}}.</p>
    {{/if}}
</section>
