<div class='head'>
  <p>
    {{#if prependW3C}}
      <a href='http://www.w3.org/'><img width='72' height='48' src='http://www.w3.org/Icons/w3c_home' alt='W3C'/></a>
    {{/if}}
    {{#if isXGR}}
      <a href='http://www.w3.org/2005/Incubator/XGR/'><img alt='W3C Incubator Report' src='http://www.w3.org/2005/Incubator/images/XGR' height='48' width='160'/></a>
    {{/if}}
    <h1 class='title' id='title'>{{title}}</h1>
    {{#if subtitle}}
      <h2 id='subtitle'>{{subtitle}}</h2>
    {{/if}}
    <h2>{{#if prependW3C}}W3C {{/if}}
      " + (this.specStatus == "unofficial" ? "" : "W3C ") + 
        this.status2text[this.specStatus] + " " + this._humanDate(this.publishDate) + "</h2><dl>";
}
if (!this.isNoTrack) {
    header += "<dt>This version:</dt><dd><a href='" + thisVersion + "'>" + thisVersion + "</a></dd>" + 
              "<dt>Latest published version:</dt><dd>" + latestVersion + "</dd>"; 
    if (this.edDraftURI) {
        header += "<dt>Latest editor's draft:</dt><dd><a href='" + this.edDraftURI + "'>" + this.edDraftURI + "</a></dd>";
    }
}
if (this.testSuiteURI) {
 header += "<dt>Test suite:</dt><dd><a href='" + this.testSuiteURI + "'>" + this.testSuiteURI + "</a></dd>";
}
if (this.implementationReportURI) {
 header += "<dt>Implementation report:</dt><dd><a href='" + this.implementationReportURI + "'>" + this.implementationReportURI + "</a></dd>";
}
if (this.specStatus != "FPWD" && this.specStatus != "FPWD-NOTE" &&
    !this.isNoTrack) {
    if (!this.prevED) {
        header += "<dt>Previous version:</dt><dd>" + prevVersion + "</dd>";
    } else {
        header += "<dt>Previous editor's draft:</dt><dd>" + prevED + "</dd>";
    }
}

if (this.prevRecShortname) {
    var prevRecURI = "http://www.w3.org/TR/" + this.prevRecShortname + "/";
    header += "<dt>Latest recommendation:</dt><dd>" + 
        '<a href="' + prevRecURI + '">' + prevRecURI + "</a></dd>";
}

if(this.editors.length == 0) {
    header += "<dt>" + "Editor" + ":</dt>";
    error("There must be at least one editor.");
}
header += this.showPeople("Editor", this.editors);
header += this.showPeople("Author", this.authors);
header += "</dl>";

if (this.errata) {
    header += '<p>Please refer to the <a href="' + this.errata + '">errata</a> for this document, which may include some normative corrections.</p>';
}

if (this.alternateFormats.length > 0) {
    var len = this.alternateFormats.length ;
    if (len == 1) {
        header += '<p>This document is also available in this non-normative format: ';
    } else {
        header += '<p>This document is also available in these non-normative formats: ';
    }
    for (var f = 0; f < len; f++) {
        if (f > 0) {
            if ( len == 2) {
                header += ' ';
            } else {
                header += ', ' ;
            }
            if (f == len - 1) {
                header += 'and ';
            }
        }
        var ref = this.alternateFormats[f] ;
        header += "<a href='" + ref.uri + "'>" + ref.label + "</a>" ;
    }
    header += '.</p>';
}

if (this.specStatus == "REC")
    header += '<p>The English version of this specification is the only normative version. Non-normative <a href="http://www.w3.org/Consortium/Translation/">translations</a> may also be available.</p>';

if (this.specStatus == "unofficial") {
    var copyright;
    if (this.additionalCopyrightHolders) copyright = "<p class='copyright'>" + this.additionalCopyrightHolders + "</p>";
    else if (this.overrideCopyright) copyright = this.overrideCopyright;
    else copyright = "<p class='copyright'>This document is licensed under a <a class='subfoot' href='http://creativecommons.org/licenses/by/3.0/' rel='license'>Creative Commons Attribution 3.0 License</a>.</p>";
    header += copyright;
}
else {
    if (this.overrideCopyright) {
        header += this.overrideCopyright;
    }
    else {
        header += "<p class='copyright'>";
        if (this.doRDFa) {
            header += "<a rel='license' href='http://www.w3.org/Consortium/Legal/ipr-notice#Copyright'>Copyright</a> &copy; ";
        }
        else {
            header += "<a href='http://www.w3.org/Consortium/Legal/ipr-notice#Copyright'>Copyright</a> &copy; ";
        }
        if (this.copyrightStart) {
            header += this.copyrightStart + '-';
        }
        header += this.publishDate.getFullYear();
        if (this.additionalCopyrightHolders) header += " " + this.additionalCopyrightHolders + " &amp;";
        if (this.doRDFa) {
            header += " <span rel='dcterms:publisher'><span typeof='foaf:Organization'><a rel='foaf:homepage' property='foaf:name' content='World Wide Web Consortium' href='http://www.w3.org/'><acronym title='World Wide Web Consortium'>W3C</acronym></a><sup>&reg;</sup></span></span> ";
        } else {
            header += " <a href='http://www.w3.org/'><acronym title='World Wide Web Consortium'>W3C</acronym></a><sup>&reg;</sup> ";
        }
        header +=
            "(<a href='http://www.csail.mit.edu/'><acronym title='Massachusetts Institute of Technology'>MIT</acronym></a>, " +
            "<a href='http://www.ercim.eu/'><acronym title='European Research Consortium for Informatics and Mathematics'>ERCIM</acronym></a>, " +
            "<a href='http://www.keio.ac.jp/'>Keio</a>), All Rights Reserved. " +
            "W3C <a href='http://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer'>liability</a>, " + 
            "<a href='http://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks'>trademark</a> and " +
            "<a href='http://www.w3.org/Consortium/Legal/copyright-documents'>document use</a> rules apply.</p>";

    }
}
header += "<hr/></div>";

