#respec-ui {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  top: 20px;
  right: 20px;
  width: 202px;
  text-align: right;
  z-index: 9000;
}

#respec-pill,
.respec-info-button {
  background: #fff;
  height: 2.5em;
  color: rgb(120, 120, 120);
  border: 1px solid #ccc;
  box-shadow: 1px 1px 8px 0 rgba(100, 100, 100, 0.5);
}

.respec-info-button {
  border: none;
  opacity: 0.75;
  border-radius: 2em;
  margin-right: 1em;
  min-width: 3.5em;
}

.respec-info-button:focus,
.respec-info-button:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

#respec-pill:disabled {
  font-size: 2.8px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(40, 40, 40, 0.2);
  border-right: 1.1em solid rgba(40, 40, 40, 0.2);
  border-bottom: 1.1em solid rgba(40, 40, 40, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: respec-spin 0.5s infinite linear;
  box-shadow: none;
}

#respec-pill:disabled,
#respec-pill:disabled:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@keyframes respec-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.respec-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.respec-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

#respec-pill:hover,
#respec-pill:focus {
  color: rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
  transition: color 0.2s;
}

#respec-menu {
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
  box-shadow: 1px 1px 8px 0 rgba(100, 100, 100, 0.5);
  width: 200px;
  display: none;
  text-align: left;
  margin-top: 32px;
  font-size: 0.8em;
}

#respec-menu:not([hidden]) {
  display: block;
}

#respec-menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.respec-save-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(47%, 2fr));
  grid-gap: 0.5cm;
  padding: 0.5cm;
}

.respec-save-button:link {
  padding-top: 16px;
  color: rgb(240, 240, 240);
  background: rgb(42, 90, 168);
  justify-self: stretch;
  height: 1cm;
  text-decoration: none;
  text-align: center;
  font-size: inherit;
  border: none;
  border-radius: 0.2cm;
}

.respec-save-button:link:hover {
  color: white;
  background: rgb(42, 90, 168);
  padding: 0;
  margin: 0;
  border: 0;
  padding-top: 16px;
}

#respec-ui button:focus,
#respec-pill:focus,
.respec-option:focus {
  outline: 0;
  outline-style: none;
}

#respec-pill-error {
  background-color: red;
  color: white;
}

#respec-pill-warning {
  background-color: orange;
  color: white;
}

.respec-warning-list,
.respec-error-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
  background-color: rgb(255, 251, 230);
  font-size: 0.85em;
}

.respec-warning-list > li,
.respec-error-list > li {
  padding: 0.4em 0.7em;
}

.respec-warning-list > li::before {
  content: "⚠️";
  padding-right: 0.5em;
}
.respec-warning-list p,
.respec-error-list p {
  padding: 0;
  margin: 0;
}

.respec-warning-list li {
  color: rgb(92, 59, 0);
  border-bottom: thin solid rgb(255, 245, 194);
}

.respec-error-list,
.respec-error-list li {
  background-color: rgb(255, 240, 240);
}

.respec-error-list li::before {
  content: "💥";
  padding-right: 0.5em;
}

.respec-error-list li {
  padding: 0.4em 0.7em;
  color: rgb(92, 59, 0);
  border-bottom: thin solid rgb(255, 215, 215);
}

.respec-error-list li > p {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#respec-overlay {
  display: block;
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
}

.respec-show-overlay {
  transition: opacity 0.2s linear;
  opacity: 0.5;
}

.respec-hide-overlay {
  transition: opacity 0.2s linear;
  opacity: 0;
}

.respec-modal {
  display: block;
  position: fixed;
  z-index: 11000;
  margin: auto;
  top: 10%;
  background: #fff;
  border: 5px solid #666;
  min-width: 20%;
  width: 79%;
  padding: 0;
  max-height: 80%;
  overflow-y: auto;
  margin: 0 -0.5cm;
}

@media screen and (min-width: 78em) {
  .respec-modal {
    width: 62%;
  }
}

.respec-modal h3 {
  margin: 0;
  padding: 0.2em;
  text-align: center;
  color: black;
  background: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 1) 0%,
    rgba(238, 238, 238, 1) 50%,
    rgba(204, 204, 204, 1) 100%
  );
  font-size: 1em;
}

.respec-modal .inside div p {
  padding-left: 1cm;
}

#respec-menu button.respec-option {
  background: white;
  padding: 0 0.2cm;
  border: none;
  width: 100%;
  text-align: left;
  font-size: inherit;
  padding: 1.2em 1.2em;
}

#respec-menu button.respec-option:hover,
#respec-menu button:focus {
  background-color: #eeeeee;
}

.respec-cmd-icon {
  padding-right: 0.5em;
}

#respec-ui button.respec-option:last-child {
  border: none;
  border-radius: inherit;
}

.respec-offending-element {
  display: inline-block;
  position: relative;
  background: url(data:image/gif;base64,R0lGODdhBAADAPEAANv///8AAP///wAAACwAAAAABAADAEACBZQjmIAFADs=)
    bottom repeat-x;
}

@supports (text-decoration-style: wavy) {
  .respec-offending-element {
    background: none;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
  }
}

.respec-button-copy-paste {
  position: absolute;
  display: block;
  padding: 0px 8px;
  height: 28px;
  width: 40px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid rgb(144, 184, 222);
  border-radius: 0px 0px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  margin: 0px 127px;
  border-left: 0;
}

p + .respec-button-copy-paste {
  margin: 1px 127px;
}

#specref-ui {
  margin: 0 2%;
  margin-bottom: 0.5cm;
}

#specref-ui header {
  font-size: 0.7em;
  background-color: #eee;
  text-align: center;
  padding: 0.2cm;
  margin-bottom: 0.5cm;
  border-radius: 0 0 0.2cm 0.2cm;
}

#specref-ui header h1 {
  padding: 0;
  margin: 0;
  color: black;
}

#specref-ui p {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  text-align: center;
}

#specref-ui p.state {
  margin: 1cm;
}

#specref-ui .searchcomponent {
  font-size: 16px;
  display: grid;
  grid-template-columns: auto 2cm;
}
#specref-ui .searchcomponent:focus {
}

#specref-ui input,
#specref-ui button {
  border: 0;
  padding: 6px 12px;
}

#specref-ui label {
  font-size: 0.6em;
  grid-column-end: 3;
  text-align: right;
  grid-column-start: 1;
}

#specref-ui input[type="search"] {
  -webkit-appearance: none;
  font-size: 16px;
  border-radius: 0.1cm 0 0 0.1cm;
  border: 1px solid rgb(204, 204, 204);
}

#specref-ui button[type="submit"] {
  color: white;
  border-radius: 0 0.1cm 0.1cm 0;
  background-color: rgb(51, 122, 183);
}

#specref-ui button[type="submit"]:hover {
  background-color: #286090;
  border-color: #204d74;
}

#specref-ui .result-stats {
  margin: 0;
  padding: 0;
  color: rgb(128, 128, 128);
  font-size: 0.7em;
  font-weight: bold;
}

#specref-ui .specref-results {
  font-size: 0.8em;
}

#specref-ui .specref-results dd + dt {
  margin-top: 0.51cm;
}

#specref-ui .specref-results a {
  text-transform: capitalize;
}
#specref-ui .specref-results .authors {
  display: block;
  color: #006621;
}

@media print {
  #respec-ui {
    display: none;
  }
}
