/* --- Best Practices ---  */

span.practicelab {
  display: block;
  color: #f5721b;
  margin-bottom: 1em;
}

span.practicetitle {
  color: #f58a43;
  text-decoration: underline;
  margin-right: 1em;
  margin-bottom: 1em;
}

p.practicedesc {
  padding: 2em;
  border-left-width: 0.5em;
  border-left-style: solid;
  border-color: #f58a43;
  background: #fde0bf;
}

@media (max-width: 767px) {
  span.practicetitle {
    display: block;
  }
}
