/* --- Best Practices ---  */

span.practicelab {
  display: block;
  color: #005A9C;
  margin-bottom: 1em;
}

span.practicetitle {
  color: #005A9C;
  text-decoration: underline;
  margin-bottom: 1em;
}

p.practicedesc {
  padding: 2em;
  border-left-width: 0.5em;
  border-left-style: solid;
  border-color: #8CCBF2;
  background: 
  rgb(241, 246, 253);
}

.practicebox {
    background: black;
}

@media (max-width: 767px) {
  span.practicetitle {
    display: block;
  }
}
