/* dfn popup panel that list all local references to a dfn */
dfn {
  cursor: pointer;
}

.dfn-panel {
  position: absolute;
  left: var(--left); /* set via JS */
  top: var(--top); /* set via JS */
  z-index: 35;
  height: auto;
  width: max-content;
  max-width: 300px;
  max-height: 500px;
  overflow: auto;
  padding: 0.5em 0.75em;
  font: small Helvetica Neue, sans-serif, Droid Sans Fallback;
  background: #dddddd;
  color: black;
  border: outset 0.2em;
}

.dfn-panel * {
  margin: 0;
}

.dfn-panel > b {
  display: block;
}

.dfn-panel ul a[href] {
  color: black;
}

.dfn-panel a:not(:hover) {
  text-decoration: none !important;
  border-bottom: none !important;
}

.dfn-panel a[href]:hover {
  border-bottom-width: 1px;
}

.dfn-panel > b + b {
  margin-top: 0.25em;
}

.dfn-panel ul {
  padding: 0;
}

.dfn-panel li {
  list-style: inside;
}

.dfn-panel.docked {
  display: inline-block;
  position: fixed;
  left: 0.5em;
  top: unset;
  bottom: 2em;
  margin: 0 auto;
  /* 0.75em from padding (x2), 0.5em from left position, 0.2em border (x2) */
  max-width: calc(100vw - 0.75em * 2 - 0.5em - 0.2em * 2);
  max-height: 30vh;
}
