/* --- IMPLEMENTATION NOTES --- */
div.impnote-title {
    padding-right:  1em;
    min-width: 7.5em;
    color: #0060A9;
}
div.impnote-title span {
    text-transform: uppercase;
}
div.impnote {
    margin-top: 1em;
    margin-bottom: 1em;
}
.impnote > p:first-child { margin-top: 0 }
.impnote {
    padding: .5em;
    border-left-width: .5em;
    border-left-style: solid;
}
div.impnote {
    padding: 1em 1.2em 0.5em;
    margin: 1em 0;
    position: relative;
    clear: both;
}
span.impnote { padding: .1em .5em .15em; }

.impnote {
  border-color: #0060A9;
  background: #E5F4FF;
}
