/* --- REGPICT --- */
text.regBitNumMiddle {
    text-anchor: middle;
    fill: grey;
    font-family: "Source Sans Pro", Calibri, Tahoma, "Lucinda Grande", Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

text.regBitNumEnd {
    text-anchor: end;
    fill: grey;
    font-family: "Source Sans Pro", Calibri, Tahoma, "Lucinda Grande", Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

text.regBitNumStart {
    text-anchor: start;
    fill: grey;
    font-family: "Source Sans Pro", Calibri, Tahoma, "Lucinda Grande", Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

text.regBitWidth {
    text-anchor: middle;
    fill: none;
    font-family: "Source Sans Pro", Calibri, Tahoma, "Lucinda Grande", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11pt;
}

text.regByteNumMiddle {
  text-anchor: middle;
  fill: grey;
  font-family: "Source Sans Pro", Calibri, Tahoma, "Lucinda Grande", Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

text.regRowTagLeft {
  text-anchor: end;
  fill: grey;
  font-family: "Source Sans Pro", Calibri, Tahoma, "Lucinda Grande", Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

text.regRowTagRight {
  text-anchor: start;
  fill: grey;
  font-family: "Source Sans Pro", Calibri, Tahoma, "Lucinda Grande", Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

g line.regBitNumLine {
	stroke: grey;
	stroke-width: 1px;
}

g line.regBitNumLine_Hide {
    stroke: none;
    stroke-width: 1px;
}

g rect.regFieldBox,
g path.regFieldBox {
	fill: white;
	stroke: black;
	stroke-width: 1.5px;
}

g.regAttr_rsvd rect.regFieldBox,
g.regAttr_rsvd path.regFieldBox,
g.regAttr_rsvdp rect.regFieldBox,
g.regAttr_rsvdp path.regFieldBox,
g.regAttr_rsvdz rect.regFieldBox,
g.regAttr_rsvdz path.regFieldBox,
g.regAttr_reserved rect.regFieldBox,
g.regAttr_reserved path.regFieldBox,
g.regAttr_unused rect.regFieldBox,
g.regAttr_unused path.regFieldBox,
g.regFieldUnused rect.regFieldBox,
g.regFieldUnused path.regFieldBox {
  fill: #e8e8e8;
}

g.regFieldExternal line.regFieldBox,
g.regFieldInternal line.regFieldBox {
	stroke: black;
}

g.regFieldUnused line.regFieldBox,
g.regFieldUnused rect.regFieldBox,
g.regFieldUnused path.regFieldBox{
	stroke: grey;
}

g.regFieldUnused text.regFieldName,
g.regFieldUnused text.regFieldValue {
	fill: grey;
}

g.regFieldHidden text.regFieldName,
g.regFieldHidden text.regFieldValue,
g.regFieldHidden path.regBitLine,
g.regFieldHidden path.regBitBracket,
g.regFieldHidden line.regFieldBox,
g.regFieldHidden rect.regFieldBox,
g.regFieldHidden path.regFieldBox,
g.regFieldHidden line.regBitNumLine,
g.regFieldHidden line.regBitNumLine_Hide,
g.regFieldHidden text.regBitNumStart,
g.regFieldHidden text.regBitNumMiddle,
g.regFieldHidden text.regBitNumEnd,
g.regFieldHidden text.regFieldExtendsLeft,
g.regFieldHidden text.regFieldExtendsRight {
    fill: none;
    stroke: none;
}

g text.regFieldValue,
g.regFieldInternal text.regFieldName {
    text-anchor: middle;
}

g.regFieldOverflowLSB text.regBitNumEnd,
g text.regFieldExtendsRight {
    text-anchor: start;
}

g.regFieldOverflowMSB text.regBitNumStart,
g text.regFieldExtendsLeft {
    text-anchor: end;
}

g text.regFieldName,
g text.regFieldValue {
	font-size: 11pt;
	font-family: "Source Sans Pro", Calibri, Tahoma, "Lucinda Grande", Arial, Helvetica, sans-serif;
}

g.regFieldExternal1 path.regBitLine,
g.regFieldExternal1 path.regBitBracket {
	stroke: black;
	stroke-width: 1px;
}

g.regFieldExternal0 path.regBitLine {
	stroke: green;
    stroke-dasharray: 4,2;
	stroke-width: 1px;
}

g.regFieldExternal0 path.regBitBracket {
    stroke: green;
    stroke-width: 1px;
}

svg text.regFieldValue {
    fill: #0060A9;
    font-family: monospace;
}

svg.regpict {
	color: green;
}

svg *.svg_error text:not(.regBitWidth):not(.regBitNumMiddle):not(.regBitNumEnd):not(.regBitNumStart) {
    fill: red;
    font-size: 12pt;
    font-weight: bold;
    font-style: normal;
    font-family: monospace;
}

figure div.json,
figure pre.json {
    color: rgb(0,90,156);
    display: inherit;
}

@media screen {
    g.regLink:hover rect.regFieldBox,
    g.regLink:focus rect.regFieldBox,
    g.regLink:hover path.regFieldBox,
    g.regLink:focus path.regFieldBox {
        fill: #ffa;
        stroke: blue;
        stroke-width: 2.5px;
    }

    g.regLink:hover line.regBitNumLine,
    g.regLink:focus line.regBitNumLine,
    g.regLink:hover line.regBitNumLine_Hide,
    g.regLink:focus line.regBitNumLine_Hide,
    g.regLink:hover line.regFieldBox,
    g.regLink:focus line.regFieldBox,
    g.regLink:hover path.regFieldBox,
    g.regLink:focus path.regFieldBox,
    g.regLink:hover path.regBitLine,
    g.regLink:focus path.regBitLine,
    g.regLink.regFieldExternal:hover path.regBitBracket,
    g.regLink.regFieldExternal:focus path.regBitBracket {
        stroke: blue;
    }

    g.regLink:hover text.regFieldName,
    g.regLink:focus text.regFieldName,
    g.regLink.regFieldExternal:hover text.regFieldValue,
    g.regLink.regFieldExternal:focus text.regFieldValue {
        fill: blue;
        font-weight: bold;
    }

    g.regLink:hover text.regBitNumMiddle,
    g.regLink:focus text.regBitNumMiddle,
    g.regLink:hover text.regBitNumStart,
    g.regLink:focus text.regBitNumStart,
    g.regLink:hover text.regBitNumEnd,
    g.regLink:focus text.regBitNumEnd {
        fill: blue;
        font-weight: bold;
        font-size: 9pt;
    }

    g.regLink:hover text.regBitWidth,
    g.regLink:focus text.regBitWidth {
        fill: blue;
    }
}
