name: Node CI
on:
  push:
    branches:
      - develop
      - gh-pages
  pull_request: {}

jobs:
  lint:
    name: Check linting issues
    runs-on: ubuntu-latest
    steps:
      - name: Should skip?
        run: |
          count=$(git log -1 --pretty=format:"%s" | grep -c "\[ci skip \]")
          [[ $count -ne 1 ]] && exit 78 || exit 0
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-10-${{ hashFiles('**/package-lock.json') }}
      - run: npm install
      - run: npm run lint

  test-headless:
    name: Headless Tests
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-10-${{ hashFiles('**/package-lock.json') }}
      - name: install & build
        run: |
          npm install --ignore-scripts
          npm run builddeps
          npm run build:w3c
      - run: npm run test:headless

  test-karma:
    name: Karma Unit Tests (${{ matrix.browser }})
    strategy:
      matrix:
        browser: [ChromeHeadless, FirefoxHeadless]
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-10-${{ hashFiles('**/package-lock.json') }}
      - name: install & build
        run: |
          npm install --ignore-scripts
          npm run builddeps
          npm run build:w3c & npm run build:geonovum
      - run: npm run test:karma
        env:
          BROWSERS: ${{ matrix.browser }}
