name: Node CI
on:
  push:
    branches:
      - develop
      - gh-pages
  pull_request: {}

jobs:
  lint:
    name: Check linting issues
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - run: npm install --ignore-scripts
      - run: npm run lint

  test-node:
    name: Node.js-based Headless Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - run: npm install --ignore-scripts
      - run: npm run test:node

  test-headless:
    name: Browser-based Headless Tests
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: install & build
        run: |
          npm install
          npm run build:w3c
      - run: npm run test:headless

  test-karma:
    name: Karma Unit Tests (${{ matrix.browser }})
    strategy:
      matrix:
        browser: [ChromeHeadless, FirefoxHeadless]
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: install & build
        run: |
          npm install
          npm run build:w3c
          npm run build:geonovum
      - run: npm run test:karma
        env:
          BROWSERS: ${{ matrix.browser }}
