name: Node CI (PR)
on:
  pull_request:
    paths-ignore:
      - "**"
      - "!**.js"
      - "!**.json"
      - "!**.css"
      - "!**.html"
      - "!.github/workflows/**"

env:
  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 1
  PUPPETEER_EXECUTABLE_PATH: /usr/bin/google-chrome
  # See https://github.com/w3c/respec/pull/3306
  LC_ALL: en_US.UTF-8

jobs:
  size:
    name: Report respec-w3c size
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Dump GitHub context
        run: echo "$GITHUB_CONTEXT"
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
      # - uses: actions/setup-node@v1
      #   with:
      #     node-version: 12
      # - name: Cache node modules
      #   uses: actions/cache@v1
      #   with:
      #     path: ~/.npm
      #     key: ${{ runner.os }}-node-12-${{ hashFiles('**/package-lock.json') }}
      # # - name: Get current size
      #   id: current-size
      #   run: |
      #     npm ci
      #     npm run build:w3c
      #     gzip -k builds/respec-w3c.js
      #     stat -c "%6s  %n" builds/respec-w3c.js*
      #     git clean -fd && git checkout -- .
