name: Node CI (PR)
on:
  pull_request:
    paths-ignore:
      - "**"
      - "!**.js"
      - "!**.json"
      - "!**.css"
      - "!**.html"
      - "!.github/workflows/**"

env:
  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 1
  PUPPETEER_EXECUTABLE_PATH: /usr/bin/google-chrome
  # See https://github.com/w3c/respec/pull/3306
  LC_ALL: en_US.UTF-8

jobs:
  lint:
    name: Check linting issues
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-12-${{ hashFiles('**/package-lock.json') }}
      - run: npm ci
      - run: npm run lint

  test-headless:
    name: Headless Tests
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-12-${{ hashFiles('**/package-lock.json') }}
      - name: install & build
        run: |
          npm ci
          npm run build:w3c
      - run: npm run test:headless

  test-karma:
    name: Karma Unit Tests (${{ matrix.browser }})
    strategy:
      matrix:
        browser: [ChromeHeadless, FirefoxHeadless]
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-12-${{ hashFiles('**/package-lock.json') }}
      - name: install & build
        run: |
          npm ci
          npm run build:w3c & npm run build:geonovum
      - run: npm run test:karma
        env:
          BROWSERS: ${{ matrix.browser }}
