name: Node CI (push)
on:
  push:
    branches:
      - develop
      - gh-pages
    paths-ignore:
      - "**"
      - "!**.js"
      - "!**.json"
      - "!**.css"
      - "!**.html"
      - "!.github/workflows/**"

env:
  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 1
  PUPPETEER_EXECUTABLE_PATH: /usr/bin/google-chrome
  FORCE_COLOR: 1
  # See https://github.com/w3c/respec/pull/3306
  LC_ALL: en_US.UTF-8

jobs:
  test-headless:
    name: Headless Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: { node-version: 14, cache: npm }
      - name: install & build
        run: |
          npm ci
          npm run build:w3c
      - run: npm run test:headless
      - name: Calculate size and update on server
        run: |
          timestamp=$(git show --no-patch --pretty='%cd' --date='format:%s')
          npx brrr builds/respec-w3c.js -o builds
          file_size=$(stat -c%s "builds/respec-w3c.js")
          xfer_file_size=$(stat -c%s "builds/respec-w3c.js.br")
          curl --fail -L -X PUT "https://respec.org/respec/size" \
            -H "Authorization: $RESPEC_SECRET" \
            -d "size=$file_size" -d "xferSize=$xfer_file_size "\
            -d "sha=$GITHUB_SHA" -d "timestamp=$timestamp"
        env:
          RESPEC_SECRET: ${{ secrets.RESPEC_GH_ACTION_SECRET }}

  test-karma:
    name: Karma Unit Tests (Chrome)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: { node-version: 14, cache: npm }
      - name: install & build
        run: |
          npm ci
          npm run build:w3c & npm run build:geonovum
      - run: npm test
        env:
          BROWSERS: ChromeHeadless
